/* Air Quality Stylesheet */

/* Scaffold styles */

#site1 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #3498db;
}

#site2 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #e74c3c;
}

#controls {
	height: 92px;
	width: 100%;
	background-color: #bdc3c7;
}

.row {
	width: 100%;
	height: 100%;
	clear: both;
	overflow:hidden;
}

.clearfix {
	clear: both;
}

/* Location Switch styles */

.locationSwitch {
	.padding: 5px;
	width: 100%;
	height: 50px;
	background-color: #eeeeee;
}

#left-graph-container{
	height: 626px;
	background-color: #ff0000;
}

#right-graph-container{
	height: 626px;
	background-color: #ff0000;
}
.panel-wrapper {
	padding: 5px !important;
}

.unitText{
	font-size:7pt;
	font-weight: bold;
	font-style:italic;
}

