/* Air Quality Stylesheet */

/* Scaffold styles */

#site1 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #eeeeee;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	border-right:1px solid #cccccc;
}

#site2 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #eeeeee;
}

#controls {
	position: fixed;
	bottom: 0;
	height: 92px;
	width: 100%;
	background-color: #cccccc;
}

.row {
	width: 100%;
	height: 100%;
	clear: both;
}

.clearfix {
	clear: both;
}

/* Location Switch styles */

.locationSwitch {
	.padding: 5px;
	width: 100%;
	height: 50px;
	background-color: #eeeeee;
}

.panel-wrapper {
	padding: 5px 35px !important;
}

/* Font styles*/ 

h2 {
	font-size: 1.5em;
	margin: .2em 0;
}

p {
	font-size: 0.8em;
	margin: .4em 0;
}

/* Chart styles */

.trafficWrapper {
	padding: 10px;
}

.iconStrip {
	padding: 5px;
	float:right;
}

/* Temp styles */

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#mapModal {
	width: 540px;
	height: 520px;
	padding: 18px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#streetModal {
	width: 540px;
	height: 520px;
	padding: 18px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#map-canvas {
	width: 500px;
	height: 500px;
}

#street-canvas {
	width: 500px;
	height: 500px;
}

.modal_close {
	position: absolute;
	top: 12px;
	right: 12px;
	display: block;
	width: 14px;
	height: 14px;
	background: url(../../assets/glyphs/modal_close.png);
	z-index: 2;
}

#p2 {
	margin-top: 250px;
}

.panel-wrapper h2 {
	text-align: center;
	float:left;
	padding: 5px;
}

.unitText{
	font-size:7pt;
	font-weight: bold;
	font-style:italic;
}

#left-graph-container{
	height: 626px;
}

#right-graph-container{
	height: 626px;
}

#time-controls{
	margin-top:10px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

