/* Air Quality Stylesheet */

/* Scaffold styles */

#site1 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #eeeeee;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
  	border-right:1px solid #cccccc;
}

#site2 {
	float:left;
	width: 50%;
	height: 100%;
	background-color: #eeeeee;
}

#controls {
	position: fixed;
	bottom: 0;
	height: 92px;
	width: 100%;
	background-color: #cccccc;
}

.row {
	width: 100%;
	height: 100%;
	clear: both;
}

.clearfix {
	clear: both;
}

/* Location Switch styles */

.locationSwitch {
	.padding: 5px;
	width: 100%;
	height: 50px;
	background-color: #eeeeee;
}

.panel-wrapper {
	padding: 5px 35px !important;
}

/* Font styles*/ 

h2 {
	font-size: 1.5em;
	margin: .2em 0;
}

p {
	font-size: 0.8em;
	margin: .4em 0;
}

/* Chart styles */

.trafficWrapper {
	padding: 10px;
}


/* Temp styles */

#p2 {
	margin-top: 250px;
}

.panel-wrapper h2 {
	text-align: center;
}